<h1><%= @project.name %> Dashboard </h1>

<h4>Project Description</h4>
<%= @project.description %>

<h4>Project Date </h4>
<h6> add date to table</h6>


<h4>Project Creator</h4>
<%= @project.creator.first_name %>